datashape==0.5.2
importlib-metadata==8.0.0
importlib-resources==6.4.0
ipython==8.31.0
jaraco.collections==5.1.0
networkx==3.4.2
packaging==24.1
pandas==2.2.3
pgcli==4.1.0
pip-chill==1.0.3
psycopg2-binary
pylint==3.0.3
requests==2.32.3
sqlalchemy==2.0.37
tomli==2.0.1
toolz==1.0.0
tqdm==4.67.1
